:root {

  /* Colors */
  --light-color: #d7d9d9;
  --light-blue: #61788c;
  --blue: #254159;
  --dark-blue: #011126;
  --dark: #00040d;

  /* Styles */
  --grid-gap: 0.8vw;
  
}

/* Itens Globais */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 24;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: context-menu;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;

  background-image: url("https://4kwallpapers.com/images/wallpapers/mount-everest-2880x1800-11019.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  /* background: #396afc;*/
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #2948ff, #396afc); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #2948ff, #396afc); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/* NavBar */

header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 2.3vh 4vw;
  overflow: hidden;
  z-index: 1;
  
  /* From https://css.glass */
  background: rgba(1, 17, 38, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}

.nav_btt {
  display: flex;
  align-items: center; /* Centraliza verticalmente */

  color: white;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 400;
}

.nav_btt img {
  height: 1.2rem;
  padding-right: 0.2vw;
  margin-right: 1vw;
  filter: brightness(0) invert(1);

}

.nav_lista {
  display: flex;
}

.nav_lista li {
  list-style: none;
  color: white;
  padding: 0 0.5em 0.25em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}


.nav_lista li a {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0 0.5rem;
  margin: 0 1.5rem;
  transition-duration: 500ms;
}

.underline-effect {
  position: relative;
  display: inline-block;
}

.underline-effect::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.underline-effect:hover::after {
  width: 100%;
  left: 0;
}



/* Content */

main {
  display: grid;
  grid-template-columns: 35% auto;

  width: 73vw;
  height: 250vh;
  gap: var(--grid-gap);
  margin: 15vh auto 10vh auto;
}

main section {
  color: #f8f9fa;

  border-radius: 30px;

  background: rgba(86, 86, 86, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



/* Main_Content */

.main_content {
  width: 100%;
  height: 100%;

  align-items: center;
  padding: 8vh 2vw;
  transition-duration: 1s;
  background: rgba(1, 17, 38, 0.4);
}

.main_content h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 2vh 0;
}

.main_content:hover {
  border-radius: 0 30px;
}

.main_content h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  line-height: 13vh;
  margin-bottom: 2vh;
}

.box_title {
  padding: 3vh 2vw;
}

.box_items {
  padding: 0 2.5vw;
}

.box_items ul {
  font-size: 1.5rem;
  padding-left: 10px;
  list-style-position: inside;
}

.box_items b {
  font-weight: 500;
}


.tags {
  font-size: 1rem;
}

.main_title h1 {
    font-weight: 300;
}

.main_title2 {
  display: none;
}

.main_resume p {
  padding: 0 2vw;
  text-align: justify;
}

.main_formation {
  padding: 3vh 0;
}

.faculdade h3 {
  font-size: 1.4rem;
  padding: 0 0.8vw;
  font-weight: 500;
  text-decoration: underline solid white;
}

.faculdade h4 {
  padding: 0.8vh 2vw;
}

.main_works {
  padding: 2vh 0;
}

.work_xp {
  padding: 0 0 3vh;
}

.main_works h3 {
  padding: 0 0.8vw;
  font-weight: 500;
}
.main_works p {
  text-align: justify;
  padding: 0.8vh 2vw;
}



/* Sec_Content */

.content_one {
  background-image: url(/_assets/pic_two.jpg);
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center -70px;
  transition-duration: 500ms;
}

.content_one:hover {
  border-radius: 30px 0;
  background-size: 900px;
  background-position: center -150px;
}

.sec_content {
  display: grid;
  grid-template-rows: 25% auto;
  gap: var(--grid-gap);
}

.skill-label {
  transition-duration: 500ms;
}

.skill-label:hover {
  text-decoration: underline solid;
}

.content_two h1 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1vh 1vh;
}

.content_two p {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 1vh 1vh;
}

.content_two {
  transition-duration: 1s;
  background: rgba(1, 17, 38, 0.4);
}

.content_two:hover {
  border-radius: 30px 0;
}

.items_group {
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 400;
  gap: var(--grid-gap);
  align-items: center;
  padding-top: 1vh;
}

.mail {
  transition: 500ms;
}
.number {
  transition: 500ms;
}

.mail:hover {
  color: #27B9F2;
}

.number:hover {
  color: #22d16b;
}



/* Rodapé */

footer {
  height: 50px;
  width: 100%;
  background-color: #00040d;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 1;
}

.copy {
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
}

h3 a {
  color: #055BA6;
}

h3 a:hover {
  color: #118CD9;
  text-decoration: underline solid;
}


/* Responsividade */

@media (max-width: 950px) {
  html {
    font-size: 85%;
    /* 1rem = 8px */
  }

  body {
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  header > img {
    margin-bottom: 15px;
  }

  .nav_lista li a {
    padding: 0 1vw;
  }

  .nav_lista li a:hover {
    font-size: 1.6rem;
  }

  .main_title {
    display: none;
  }

  .main_title2 {
    display: block;
  }

  .main_title2 h1{
    font-size: 4rem;
    font-weight: 300;
    line-height: 70px;
    padding: 0;
  }

  .main_content {
    padding: 2vh 2vw;
  }

  .main_title2 p{
    padding: 2vw;
    margin-bottom: 0;
  }

  main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 15vh;
    height: auto;
  }

  .sec_content {
    gap: 8vh;
  }

  .content_one {
    height: 65vh;
  }
}